.app-wrapper {
    margin: 0 auto;
    width:  500px;

    display: grid;
    grid-template-areas:
            "h h h "
            "n p p"
            "f f f ";

    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 30fr 1fr;
}

.headers {
    background-color: #eeaaaa;
    grid-area: h;
    padding: 0.5%;
}
.navbar {
    background-color: #eeca8d;
    grid-area: n;
    padding: 3%;
}
.navbar a {
    text-decoration: none;
}
.navbar .active {
    color: #219a14;
}
.profile {
    background-color: #adade0;
    grid-area: p;
    padding: 0.5%;
}
.ProfileStyles {
    padding: 1%;
}
.ProfileStyles img {
    width: 20%;
}

.footer {
    background-color: #ca93db;
    grid-area: f;
    padding: 0.5%;
}
.dialogs {
    display: grid;
    grid-template-columns: 1fr 4fr;

    background-color: #adade0;
    grid-area: p;
    padding: 0.5%;
}
.dialogs a {
    text-decoration: none;
}
.dialogs .active {
    color: #219a14;
}

.ImgAvaUser {
    width: 60px;
    height: 60px;
}

.buttonSetUsers {
    margin: 1.5%;
}

.paginationStiles {
    font-weight: bold;
}

.Preloader {
    width: 20%;
}